# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules/.ignored
/.pnp
.pnp.*
package-lock.json
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
next-env.d.ts

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (env* should not be committed)
.env*
!.env.example

# typescript
*.tsbuildinfo

# IDE
.vscode
.idea

# Vercel
.vercel

# Supabase
supabase/.env

# Cloudflare
.open-next/
.dev.vars
.wrangler/
